* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.3s ease;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #f5f5f5;
}

.btn {
	all: unset;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 12px 16px;
	transition: all 0.3 ease-in-out;
	cursor: pointer;
}

.btn-fill {
	background-color: #1f1f1f;
	color: #fff;
}

.btn-fill:hover {
	background-color: #3f3f3f;
}

input,
textarea {
	all: unset;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
	padding: 8px 12px;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
	outline: 4px solid rgba(0, 0, 0, 0.1);
}

form {
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 16px;
}

.input-group {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 4px;
}
.blogs-page {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 24px;
	padding: 24px;
}

.blogs {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 32px;
}

.blogs-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.blog-card {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 12px;
}

.blog-card:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-card-title {
	font-size: 24px;
	font-weight: 500;
	text-decoration: none;
	color: inherit;
}

.blog-card-title:hover {
	color: #3f3f3f;
}

.blog-card-author {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 20px;
	gap: 8px;
}

.blog-card-date {
	color: #7f7f7f;
}
